.form-container-login {
    padding: 20px; 
    border-radius: 10px; 
    width: 400px;
    margin: 0 auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.button{
    width: 100%;
    border-radius: 25px;
  }


  .navbar-links{
    color: var(--white);
    font-size: rem(16);
    font-weight: 600;
    letter-spacing: rem(2);
    display: inline-block;
  }
  .navbar-links::after{
        content: '';
        display: block;
        width: 0px;
        height: rem(2);
        color: var(--primarycolor);
        transition: all 350ms;
        border-radius: rem(5);
    }

  .navbar-links:hover{
        color: var(--primarycolor);
        
    }